#main-content {
    text-align: center;
    width: 400px;
    margin: 0 auto; /* Centraliza o conteúdo */
}

.buttons {
    display: flex;
    justify-content: center;
}

div > p {
    text-align: left;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin: 15px 0;
}

footer {
    margin-bottom: 10px;
}

body {
    background-color: var(--primary-bg);
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    margin: 0;
    overflow: hidden; /* Impede o scroll */
}

/* Media Query para telas pequenas */
@media only screen and (max-width: 700px) {
    #main-content {
        width: 80%; /* Ajusta a largura para dispositivos menores */
    }
}
